Package: peervpn
Version: 1.0
Section: unknown
Priority: optional
Depends: make, gcc, libssl-dev
Architecture: amd64
Essential: no
Installed-Size: 5644
Maintainer: diboan@yandex.ru
Description: Peervpn
